/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END */

* {
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;	
}

html, body, form[name="save_file"] {
	height: 100%;
	display: block;
}

body {
	padding: 30px;
	background: #2b2b2b;
	color: #d7d7d7;
}

p {
	margin-bottom: 5px;
}

input, button, a, a:link, a:visited, a:hover, a:active {
	color: #d7d7d7;
	background: transparent;
	text-decoration: none;
	padding: 5px 5px;
	border:0;
}

.d-block {
	display: block;
}

a.link {
	padding: 5px 5px;
}

input, textarea, a, button {
	border: 1px solid #d7d7d7;
	color: #d7d7d7;
	background: #1a1919;
	border: 0px;
}

input:focus {

}

form[name="add_file"] {
	margin: 0 0 10px;
}

.container {
	  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
	height: 100%;
}

.container .panel {
	flex : 0 0 auto;
	justify-content: space-between;
	display: flex;
	margin: 0 0 5px;
}

.container .panel * {
	
}

.container textarea {
	-webkit-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  padding: 10px;
}

.notes_list {
	overflow: hidden;
}
.notes_list-row {
	float: left;
	box-sizing: border-box;
	width: calc(25% - 2px);
	padding: 7px 10px;
	background: #363636;
	margin: 1px;
    text-align: center; 
}
.notes_list-row:hover {
	background: #5d5d5d;
}